/* LAYOUT */
body, html {
	padding:0px;
	margin:0px; 
	font-family:sans-serif;
	font-size:15pt;
}
#lefty, #righty, #topy, #errory {
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
#lefty {
	position:absolute;
	left:0px;
	top:40px;
	width:50%;
	padding:20px;
}
#righty {
	position:absolute;
	right:0px;
	top:40px;
	width:50%;
	padding:20px;
}
#topy, #errory {
	position:absolute;
	right:0px;
	top:20px;
	height:40px;
	line-height:40px;
	-webkit-transform: translateY(-50%);
	-moz-transform:    translateY(-50%);
	-ms-transform:     translateY(-50%);
	-o-transform:      translateY(-50%);
	transform:         translateY(-50%);
}
#topy {
	left:50%;
	text-align: right;
	padding-right:20px;
}
#errory {
	left:0px;
	text-align: left;
	padding-left:20px;
	background:rgb(255,200,200);
	font-size:11pt;
}
textarea {
	width:300px;
	height:70px;
	font-size:13pt;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
	border-radius:5px;
}
.modified {
	background:pink;
}
input[type=button] {
	font-size:13pt;
}
.faded {
	opacity: 0.15;
}
.hidden {
	display:none;
}
#needs-auth, #show-error, #needs-access, #needs-login {
	padding:40px;
	text-align:center;
}
a.logout, a.logout:visited, a.login, a.login:visited, a.retry, a.retry:visited {
	color:black;
	font-weight: bold;
}
a.logout, a.logout:visited, a.login, a.login:visited {
	font-size:12pt;
}